<!DOCTYPE html>
<html>
<head>
  <title>Tacta</title>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
</head>
<body>

<center><h2 class = "flex-item">Contact Manager</h2></center>
<hr/>

<%= yield %>



</body>
</html>
