<!DOCTYPE html>
<html>
<head>
  <title>Lego Inventory</title>
  <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
</head>
<body>
<a href="/views/items/index"
<center>
  <h2>Lego Inventory</h2>
</center>

<%= yield %>

</body>
</html>
