<body>
  <center>
    <h2> Make new item</h2>
  </center>

<form action="/inventory" method="POST">
  <p>Name: <input type="text" name="Name"></p>
  <p>Quantity in Stock: <input type="text" name="Quantity"></p>
  <p>Number of Bricks: <input type="text" name="Bricks"></p>
  <p>Change ID: <input type="text" name="ID"></p>
  <input type="submit" value="Create">
  <button><a href="/inventory">Cancel</a></button>
</form>
</body>
